* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f6f8f9;
}

header {
    background-color: #ffffff;
    padding: 10px 15px;
    margin-bottom: 40px;
}

#img-logo {
    vertical-align: middle;
}

header h1 {
    vertical-align: middle;
    display: inline-block;
}

.contenitore {
    background-color: #ffffff;
    width: 800px;
    margin: 5px auto;
    padding: 25px 50px;
}

#cont-butt {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.button {
    border-radius: 5px;
    padding: 7px;
}

.butt-blue {
    color: #ffffff;
    text-align: center;
    background-color: #47adf1;
    border: 1px solid #47adf1;
}

.butt-white {
    border: 1px solid #c5cbd0;
    color: #c6ccd1;
}

#cont-tasks {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

h2 {
    color: #444851;
    margin-bottom: 10px;
}

.circle {
    display: inline-block;
    border-radius: 100%;
    border: 1.5px solid;
    width: 17px;
    height: 17px;
    line-height: 17px;
    font-size: small;
    padding-left: 2px;
}

.circle-green {
    color: #97d8ca;
    border-color: #97d8ca;
}

.label {
    padding: 5px;
    background-color: #45abea;
    color: #eff9fd;
    border-radius: 10px;
    font-size: 12px;
}