* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f6f8f9;
}

header {
    background-color: #ffffff;
    padding: 10px 15px;
    margin-bottom: 40px;
}

#img-logo {
    vertical-align: middle;
}

header h1 {
    vertical-align: middle;
    display: inline-block;
}

.contenitore {
    background-color: #ffffff;
    width: 800px;
    margin: 3px auto;
    padding: 15px 50px;
}

#cont-butt {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.button {
    border-radius: 5px;
    padding: 7px;
}

.butt-blue {
    color: #ffffff;
    text-align: center;
    background-color: #47adf1;
    border: 1px solid #47adf1;
}

.butt-white {
    border: 1px solid #c5cbd0;
    color: #c6ccd1;
}

#cont-tasks {
    padding-top: 40px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.single-tasks {
    margin: 10px 0px 20px 0px;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #444851;
}

.circle {
    display: inline-block;
    border-radius: 100%;
    border: 1.5px solid;
    width: 17px;
    height: 17px;
    line-height: 17px;
    font-size: small;
}

.circle-green {
    color: #97d8ca;
    border-color: #97d8ca;
    padding-left: 2px;
}

.circle-red {
    color: #eb5851;
    border-color: #eb5851;
    padding: 0 3px;
}

.label {
    padding: 5px;
    color: #eff9fd;
    border-radius: 10px;
    font-size: 12px;
}

.label-editorial {
    background-color: #45abea;
}

.label-goals {
    background-color: #9c72e4;
}

.label-recruiting {
    background-color: #64c0a9;
}

.label-mobile {
    background-color: #f29e33;
}

.label-website {
    background-color: #d863a1;
}

.label-sales {
    background-color: #b0c926;
}